# Neon 
DATABASE_URL=""

# Open AI
OPENAI_API_KEY=""

# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=""
CLERK_SECRET_KEY=""
NEXT_PUBLIC_CLERK_SIGN_IN_URL=""
NEXT_PUBLIC_CLERK_SIGN_UP_URL=""

# Vercel blob storage
BLOB_READ_WRITE_TOKEN=""

# Upstash
UPSTASH_WORKFLOW_URL=""
QSTASH_TOKEN=""